<section>
  <div class="page-header">
    <h1>Productos</h1>
  </div>

  <div class="col-xs-12 col-sm-8">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="searchText"placeholder="Search...">
      <span class ="input-group-btn">
        <button class = "btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>

  </br>
  </br>
</br>
</br>
  <div class="list-group">
    <div class= "col-sm-6 col-sm-4" data-ng-repeat="producto in vm.productos | filter:searchText">
    <a ui-sref="productos.view({ productoId: producto._id })" class="list-group-item">
      <h4 class="cust-list text-center">
      <img ngf-src="vm.fileSelected ? picFile : producto.imgurl" 
    alt="{{vm.producto.nombre}}" class=" img-thumbnail productlist-picture" ngf-drop>
    </h4>
    <div class= "row">
      <div class="col-xs-10 col-xs-offset-1">
      <h4 class="list-group-item-heading" ng-bind="producto.name"></h4>
       <small class="list-group-item-text">
         <span ng-bind="producto.created | date:'mediumDate'"></span>
       </small>
       </div>
      </div>
       
       
     </a>
    </div>



    
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.productos.$resolved && !vm.productos.length">
    No Productos yet, why don't you <a ui-sref="productos.create">create one</a>?
  </div>
</section>
