<div>
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-bg">
            <h3 class="text-center">CheckOut</h3>
            <form name="vm.form.CarritoForm" class="" ng-submit="vm.save(vm.form.carritoForm.$valid)" novalidate>
              <fieldset>
              <div class="form-group" show-errors>
                      <div class="input-group input-group-lg" show-errors>
                          <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-user"></i>
                          </span>
                <input type="text" id="titularTarjeta" name="titularTarjeta" class="form-control" ng-model="vm.carrito.titularTarjeta" placeholder="NombreTitularDeTarjeta" required autofocus>
                      </div>
                <div ng-messages="vm.form.carritoForm.titularTarjeta.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Titular required.</p>
                </div>
              </div>
              <div class="form-group" show-errors>
                      <div class="input-group input-group-lg" show-errors>
                          <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-piggy-bank"></i>
                          </span>
                <input type="text" id="numeroTarjeta" name="numeroTarjeta" class="form-control" ng-model="vm.carrito.numeroTarjeta" placeholder="NumeroTarjeta" required>
                </div>
                <div ng-messages="vm.form.carritoForm.numeroTarjeta.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">NumeroTarjeta required.</p>
                </div>
              </div>
              <div class="form-group" show-errors>
                      <div class="input-group input-group-lg" show-errors>
                          <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-calendar"></i>
                          </span>
                <input type="date" id="fechaVencimiento" name="fechaVencimiento" class="form-control" ng-model="vm.carrito.fechaVencimiento" placeholder="FechaVencimiento" lowercase required>
                        </div>
                <div ng-messages="vm..form.carritoForm.fechaVencimiento.$error" role="alert">
                </div>
              </div>
              <div class="form-group" show-errors>
                    <div class="input-group input-group-lg" show-errors>
                        <span class="input-group-addon">
                          <i class="text-muted glyphicon glyphicon-road"></i>
                        </span>
              <input type="text" id="direccion" name="direccion" class="form-control" ng-model="vm.carrito.direccion" placeholder="Direccion" required autofocus>
                    </div>
              <div ng-messages="vm.form.carritoForm.direccion.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Address required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
                    <div class="input-group input-group-lg" show-errors>
                        <span class="input-group-addon">
                          <i class="text-muted glyphicon glyphicon-home"></i>
                        </span>
              <input type="text" id="ciudad" name="ciudad" class="form-control" ng-model="vm.carrito.ciudad" placeholder="Ciudad" required autofocus>
                    </div>
              <div ng-messages="vm.form.carritoForm.ciudad.$error" role="alert">
                <p class="help-block error-text" ng-message="required">City required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
                    <div class="input-group input-group-lg" show-errors>
                        <span class="input-group-addon">
                          <i class="text-muted glyphicon glyphicon-phone"></i>
                        </span>
              <input type="text" id="telefono" name="telefono" class="form-control" ng-model="vm.carrito.telefono" placeholder="Telefono" required autofocus>
                    </div>
              <div ng-messages="vm.form.carritoForm.telefono.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Telephone Number required.</p>
              </div>
            </div>
              <div class="text-center form-group">
                <button type="sumbit" class="btn btn-lg btn-success btn-block">Buy</button><br>
                Or &nbsp;<a href="/carrito" class="btn btn-warning"><i class="fa fa-angle-left"></i> Volver</a>
            </fieldset>
          </form>
        </div>
      </div>
      